{% extends "base.html" %}

{% block header_script %}
	<link rel="stylesheet" href="{{ url_for('static', filename='bower_components/nvd3/nv.d3.css') }}">

	<script type="text/javascript" src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bower_components/nvd3/nv.d3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/server_graph.js') }}"></script>

	<style type="text/css">
		#chart1, #chart2 {
		  height: 350px;
		}
	</style>
{% endblock %}

{% block content %}
<div class="subheader">
	<h1 id="h-tags">Analyze Trends</h1>
	<!-- <div id="tabs">
		<a class="youarehere" href="/tags?tab=popular" title="most popular tags">popular</a>
		<a href="/tags?tab=name" title="tags in alphabetical order">name</a>
		<a href="/tags?tab=new" title="recently created tags">new</a>
	</div> -->
</div>

<div class="page-description">
	<p>
		The aim of the visualization is to depict trends in technology usage over time. With the StackOverflow dataset, we make an assumption that a technology is in use if people are asking questions pertaining to it.
	</p>
</div>

<h2 class="space">Server Side Scripting Technologies</h2>
<div>
    <svg id="chart1"></svg>
</div>

<h2 class="space">Database Technologies</h2>
<div>
    <svg id="chart2"></svg>
</div>
{% endblock %}

{% block content_script %}
<script>
	var colors = d3.scale.category20();
	keyColor = function(d, i) {return colors(d.key)};

	var chart, chart2;
	nv.addGraph(function() {
		chart = nv.models.stackedAreaChart()
               //.width(600).height(500)
               .useInteractiveGuideline(true)
               .x(function(d) { return d[0] })
               .y(function(d) { return d[1] })
               .color(keyColor)
               .transitionDuration(300);
                //.clipEdge(true);

		// chart.stacked.scatter.clipVoronoi(false);

		chart.xAxis
			.tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });

		chart.yAxis
			.tickFormat(d3.format(',.2f'));

		d3.select('#chart1')
			.datum(server_graph_json)
			.transition().duration(1000)
			.call(chart)
		    // .transition().duration(0)
		    .each('start', function() {
		    	setTimeout(function() {
		    		d3.selectAll('#chart1 *').each(function() {
		    			console.log('start',this.__transition__, this)
		              // while(this.__transition__)
		              if(this.__transition__)
		              	this.__transition__.duration = 1;
		          })
		    	}, 0)
		    });
		    // .each('end', function() {
		    //         d3.selectAll('#chart1 *').each(function() {
		    //           console.log('end', this.__transition__, this)
		    //           // while(this.__transition__)
		    //           if(this.__transition__)
		    //             this.__transition__.duration = 1;
		    //         })});

		nv.utils.windowResize(chart.update);
	  		// chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });
	  	return chart;
	});

	nv.addGraph(function() {
		chart2 = nv.models.stackedAreaChart()
               //.width(600).height(500)
               .useInteractiveGuideline(true)
               .x(function(d) { return d[0] })
               .y(function(d) { return d[1] })
               .color(keyColor)
               .transitionDuration(300);
                //.clipEdge(true);

		// chart.stacked.scatter.clipVoronoi(false);

		chart2.xAxis
			.tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });

		chart2.yAxis
			.tickFormat(d3.format(',.2f'));

		d3.select('#chart2')
			.datum(server_graph_json)
			.transition().duration(1000)
			.call(chart2)
		    // .transition().duration(0)
		    .each('start', function() {
		    	setTimeout(function() {
		    		d3.selectAll('#chart2 *').each(function() {
		    			console.log('start',this.__transition__, this)
		              // while(this.__transition__)
		              if(this.__transition__)
		              	this.__transition__.duration = 1;
		          })
		    	}, 0)
		    });
		    // .each('end', function() {
		    //         d3.selectAll('#chart1 *').each(function() {
		    //           console.log('end', this.__transition__, this)
		    //           // while(this.__transition__)
		    //           if(this.__transition__)
		    //             this.__transition__.duration = 1;
		    //         })});

		nv.utils.windowResize(chart2.update);
	  		// chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });
	  	return chart2;
	});
</script>
{% endblock %}