{% extends "base.html" %}

{% block header_script %}
<style type="text/css">
	.hidden {
		display: none;
	} 
</style>
{% endblock %}

{% block content %}
<div id="content" class="snipped-hidden">
	<div itemscope="" itemtype="http://schema.org/Question">
		<div id="question-header">
			<h1 itemprop="name"><a href="/questions/26969773/request-dispatcher-causing-get-of-jquery-to-alert-the-text-of-the-page" class="question-hyperlink">Request Dispatcher causing $.get of jQuery to alert the text of the page</a></h1>
		</div>

		<div id="mainbar">
			<div class="question" data-questionid="26969773" id="question">

				<table>
					<tbody><tr>
						<td class="votecell">
							

							<div class="vote">
								<input type="hidden" name="_id_" value="26969773">
								<a class="vote-up-off" title="This question shows research effort; it is useful and clear">up vote</a>
								<span itemprop="upvoteCount" class="vote-count-post " title="View upvote and downvote totals" style="cursor: pointer;">8</span>
								<a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful">down vote</a>
								
								<a class="star-off" href="#" title="This is a favorite question (click again to undo)">favorite</a>
								<div class="favoritecount"><b>1</b></div>   

							</div>

						</td>
						
						<td class="postcell">
							<div>
								<div class="post-text" itemprop="text">

									<p>for example :</p>

									<p>i have a js like : </p>

									<pre class="lang-java prettyprint prettyprinted"><code><span class="pln">$</span><span class="pun">.</span><span class="pln">get</span><span class="pun">(</span><span class="str">'Test_Controller.html'</span><span class="pun">,</span><span class="pln">function</span><span class="pun">(</span><span class="pln">response</span><span class="pun">){</span><span class="pln"> 
										alert</span><span class="pun">(</span><span class="pln">response</span><span class="pun">);</span><span class="pln">
									</span><span class="pun">});</span></code></pre>

									<p>and in my <code>Test_Controller.html</code> servlet i have :</p>

									<pre class="lang-java prettyprint prettyprinted"><code><span class="pln">    request</span><span class="pun">.</span><span class="pln">setAttribute</span><span class="pun">(</span><span class="str">"test"</span><span class="pun">,</span><span class="str">"testData"</span><span class="pun">);</span><span class="pln">
									</span><span class="typ">RequestDispatcher</span><span class="pln"> requestDispatcher </span><span class="pun">=</span><span class="pln">
									request</span><span class="pun">.</span><span class="pln">getRequestDispatcher</span><span class="pun">(</span><span class="str">"/test.jsp"</span><span class="pun">);</span><span class="pln">
									requestDispatcher</span><span class="pun">.</span><span class="pln">forward</span><span class="pun">(</span><span class="pln">request</span><span class="pun">,</span><span class="pln">response</span><span class="pun">);</span></code></pre>

									<p>Question is : </p>

									<p>why is that the <code>response</code> will always alert the text content of the <code>test.jsp</code> and not the <code>JSON</code> that i passed through the <code>getWriter()</code></p>

									<p><strong>EDIT :</strong></p>

									<p>I need to get the : </p>

									<pre class="lang-java prettyprint prettyprinted"><code><span class="pln">  </span><span class="typ">TestData</span><span class="pln"> testData </span><span class="pun">=</span><span class="pln"> </span><span class="kwd">new</span><span class="pln"> </span><span class="typ">TestData</span><span class="pun">();</span><span class="pln">
										request</span><span class="pun">.</span><span class="pln">setAttribute</span><span class="pun">(</span><span class="str">"test"</span><span class="pun">,</span><span class="pln">testData</span><span class="pun">);</span></code></pre>

										<p>using jQuery's $.get() so the page won't reload, but unfortunately when i didn't do dispatch my response object seems to be null and when i do dispatch and forward, when i alert the response it alerts the text of the page.</p>

									</div>
									<div class="post-taglist">
										<a href="/questions/tagged/java" class="post-tag js-gps-track" title="" rel="tag">java</a> <a href="/questions/tagged/jquery" class="post-tag js-gps-track" title="show questions tagged 'jquery'" rel="tag">jquery</a> <a href="/questions/tagged/ajax" class="post-tag js-gps-track" title="show questions tagged 'ajax'" rel="tag">ajax</a> <a href="/questions/tagged/servlets" class="post-tag js-gps-track" title="show questions tagged 'servlets'" rel="tag">servlets</a> <a href="/questions/tagged/get" class="post-tag js-gps-track" title="show questions tagged 'get'" rel="tag">get</a> 
									</div>
									<table class="fw">
										<tbody><tr>
											<td class="vt">
												<div class="post-menu"><a href="/q/26969773/614285" title="short permalink to this question" class="short-link" id="link-post-26969773">share</a><span class="lsep">|</span><a href="/posts/26969773/edit" class="suggest-edit-post" title="revise and improve this post">edit</a><span class="lsep">|</span><a href="#" class="flag-post-link" title="flag this post for serious problems or moderator attention" data-postid="26969773">flag</a></div>        
											</td>
											<td align="right" class="post-signature">
												<div class="user-info ">
													<div class="user-action-time">
														<a href="/posts/26969773/revisions" title="show all edits to this post">edited <span title="2014-11-20 09:57:12Z" class="relativetime">Nov 20 at 9:57</span></a>
													</div>
													<div class="user-gravatar32">
														
													</div>
													<div class="user-details">
														<br>
														
													</div>
												</div>    </td>
												<td class="post-signature owner">
													<div class="user-info user-hover">
														<div class="user-action-time">
															asked <span title="2014-11-17 09:46:41Z" class="relativetime">Nov 17 at 9:46</span>
														</div>
														<div class="user-gravatar32">
															<a href="/users/3706101/yaje"><div class="gravatar-wrapper-32"><img src="http://i.stack.imgur.com/QtyxD.jpg?s=32&amp;g=1" alt="" width="32" height="32"></div></a>
														</div>
														<div class="user-details">
															<a href="/users/3706101/yaje">Yaje</a><br>
															<span class="reputation-score" title="reputation score " dir="ltr">1,593</span><span title="5 silver badges"><span class="badge2"></span><span class="badgecount">5</span></span><span title="20 bronze badges"><span class="badge3"></span><span class="badgecount">20</span></span>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		
		<div id="sidebar" class="show-votes">
			<div class="module question-stats">
				<table id="qinfo">
					<tbody><tr>
						<td>
							<p class="label-key">asked</p>
						</td>
						<td style="padding-left: 10px">
							<p class="label-key" title="2014-11-17 09:46:41Z"><b>9 days ago</b></p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="label-key">viewed</p>
						</td>

						<td style="padding-left: 10px">
							<p class="label-key">
								<b>160 times</b>
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p class="label-key">active</p>
						</td>
						<td style="padding-left: 10px">
							<p class="label-key"><b><a href="?lastactivity" class="lastactivity-link" title="2014-11-25 09:39:59Z">yesterday</a></b></p>
						</td>
					</tr>
				</tbody></table>
			</div>
			<div class="module community-bulletin" data-tracker="cb=1">
				<div class="related">
					<div class="bulletin-title">
						Blog
					</div>
					<hr>
					<div class="spacer">
						<div class="bulletin-item-type">
							<a href="http://blog.stackoverflow.com/2014/11/podcast-61-the-what-jays-done-wrong-podcast/?cb=1" class="question-hyperlink">
								<div class="favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>                </a>
							</div>
							<div class="bulletin-item-content">
								<a href="http://blog.stackoverflow.com/2014/11/podcast-61-the-what-jays-done-wrong-podcast/?cb=1" class="question-hyperlink">Podcast #61 – The “What Jay’s Done Wrong” Podcast</a>
							</div>
							<br class="cbt">
						</div>
						<div class="bulletin-title">
							Hot Meta Posts
						</div>
						<hr>
						<div class="spacer">
							<div class="bulletin-item-type">
								<span title="Vote score (upvotes - downvotes)">6</span>
							</div>
							<div class="bulletin-item-content">
								<a href="http://meta.stackoverflow.com/questions/277950/is-a-question-a-duplicate-if-the-duplicate-has-no-answers?cb=1" class="question-hyperlink">Is a question a duplicate if the duplicate has no answers?</a>
							</div>
							<br class="cbt">
						</div>
						<div class="spacer">
							<div class="bulletin-item-type">
								<span title="Vote score (upvotes - downvotes)">20</span>
							</div>
							<div class="bulletin-item-content">
								<a href="http://meta.stackoverflow.com/questions/277896/reference-style-markdown-links-being-misidentified-as-code-your-post-appears-t?cb=1" class="question-hyperlink">Reference style markdown links being misidentified as code: "Your post appear…</a>
							</div>
							<br class="cbt">
						</div>
						<div class="spacer">
							<div class="bulletin-item-type">
								<span title="Vote score (upvotes - downvotes)">17</span>
							</div>
							<div class="bulletin-item-content">
								<a href="http://meta.stackoverflow.com/questions/277891/should-we-automatically-detect-pastebin-and-other-related-sites?cb=1" class="question-hyperlink">Should we automatically detect pastebin (and other related) sites?</a>
							</div>
							<br class="cbt">
						</div>
					</div>
				</div>			
				<script>
					var ados = ados || {};ados.run = ados.run || [];
					ados.run.push(function() { ados_add_placement(22,8277,"adzerk1200938078",[17,2221]).setZone(45) ; });                    
				</script>
				<div class="everyonelovesstackoverflow" id="adzerk1200938078">
				</div>  


				<div class="module sidebar-related">
					<h4 id="h-related">Related</h4>
					<div class="related js-gps-related-questions" data-tracker="rq=1">
						<div class="spacer js-gps-track">
							<a href="http://stackoverflow.com/q/503093?rq=1" title="Vote score (upvotes - downvotes)">
								<div class="answer-votes answered-accepted extra-large">2996
								</div>
							</a><a href="http://stackoverflow.com/questions/503093/how-can-i-make-a-redirect-page-in-jquery-javascript?rq=1" class="question-hyperlink">How can I make a redirect page in jQuery/JavaScript?</a>
						</div>
						<div class="spacer js-gps-track">
							<a href="http://stackoverflow.com/q/5520954?rq=1" title="Vote score (upvotes - downvotes)">
								<div class="answer-votes default">0
								</div>
							</a><a href="http://stackoverflow.com/questions/5520954/jquery-ajax-get-request-works-post-request-displays-blank-page?rq=1" class="question-hyperlink">Jquery/Ajax get request works, post request displays blank page</a>
						</div>
						<div class="spacer js-gps-track">
							<a href="http://stackoverflow.com/q/12662151?rq=1" title="Vote score (upvotes - downvotes)">
								<div class="answer-votes answered-accepted default">0
								</div>
							</a><a href="http://stackoverflow.com/questions/12662151/ajax-request-for-login-not-working-using-post-method-in-jquery?rq=1" class="question-hyperlink">Ajax request for login not working using $.post() method in jquery</a>
						</div>
						<div class="spacer js-gps-track">
							<a href="http://stackoverflow.com/q/17696051?rq=1" title="Vote score (upvotes - downvotes)">
								<div class="answer-votes answered-accepted default">1
								</div>
							</a><a href="http://stackoverflow.com/questions/17696051/how-to-redirect-forward-request-to-another-jsp-page-in-servlet-called-by-ajax?rq=1" class="question-hyperlink">How to redirect/forward request to another jsp page in servlet called by $.ajax() function</a>
						</div>
						

					</div>
				</div>
			</div>

		</div>

	</div>

	<div id="mainbar">
		<div class="subheader">
			<h1 id="h-users">Expert Users</h1>

			<div id="tabs">
				<a class="youarehere js-tab" href=".immediate-responders" title="Users with the highest reputation scores">Immediate Responders</a>
				<a class="js-tab" href=".authoritative-responders" title="Users who joined in the last 30 days">Authoritative  Responders</a>
			</div>
		</div>

		<div id="user-browser" class="immediate-responders">
			<table>
				<tbody>
					<tr>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/548225/anubhava"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/dab08478b226280d4a30894c9a7ed719?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/548225/anubhava">anubhava</a><br>
									<span class="user-location">Bangalore, India</span><br>
									<span class="reputation-score" title="reputation this week: 1848 total reputation: 206841" dir="ltr">1,848</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/regex">regex</a>, <a href="questions/tagged/.htaccess">.htaccess</a>, <a href="questions/tagged/bash">bash</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/1144035/gordon-linoff"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/e514b017977ebf742a418cac697d8996?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/1144035/gordon-linoff">Gordon Linoff</a><br>
									<span class="user-location">New York, United States</span><br>
									<span class="reputation-score" title="reputation this week: 1800 total reputation: 234850" dir="ltr">1,800</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/sql">sql</a>, <a href="questions/tagged/mysql">mysql</a>, <a href="questions/tagged/sql-server">sql-server</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/100297/martijn-pieters"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/24780fb6df85a943c7aea0402c843737?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/100297/martijn-pieters">Martijn Pieters</a><br>
									<span class="user-location">Cambridge, United Kingdom</span><br>
									<span class="reputation-score" title="reputation this week: 1495 total reputation: 308408" dir="ltr">1,495</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/python">python</a>, <a href="questions/tagged/python-3.x">python-3.x</a>, <a href="questions/tagged/list">list</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/22656/jon-skeet"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/6d8ebb117e8d83d74ea95fbdd0f87e13?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/22656/jon-skeet">Jon Skeet</a><br>
									<span class="user-location">Reading, United Kingdom</span><br>
									<span class="reputation-score" title="reputation this week: 1450 total reputation: 730179" dir="ltr">1,450</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/java">java</a>, <a href="questions/tagged/c%23">c#</a>, <a href="questions/tagged/multithreading">multithreading</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/335858/dasblinkenlight"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/4af3541c00d591e9a518b9c0b3b1190a?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/335858/dasblinkenlight">dasblinkenlight</a><br>
									<span class="user-location">United States</span><br>
									<span class="reputation-score" title="reputation this week: 1435 total reputation: 293256" dir="ltr">1,435</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/java">java</a>, <a href="questions/tagged/c">c</a>, <a href="questions/tagged/c%23">c#</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/3297613/avinash-raj"><div class="gravatar-wrapper-48"><img src="http://i.stack.imgur.com/gwZHo.jpg?s=48&amp;g=1" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/3297613/avinash-raj">Avinash Raj</a><br>
									<span class="user-location">Tamil Nadu, India</span><br>
									<span class="reputation-score" title="reputation this week: 1409 total reputation: 39675" dir="ltr">1,409</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/regex">regex</a>, <a href="questions/tagged/python">python</a>, <a href="questions/tagged/bash">bash</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/6309/vonc"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/7aa22372b695ed2b26052c340f9097eb?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/6309/vonc">VonC</a><br>
									<span class="user-location">France</span><br>
									<span class="reputation-score" title="reputation this week: 1360 total reputation: 447290" dir="ltr">1,360</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/git">git</a>, <a href="questions/tagged/eclipse">eclipse</a>, <a href="questions/tagged/github">github</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info ">
								<div class="user-gravatar48">
									<a href="/users/85371/sehe"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/6d52c235ec6dd15f30bab444103e7af2?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/85371/sehe">sehe</a><br>
									<span class="user-location">Netherlands</span><br>
									<span class="reputation-score" title="reputation this week: 1323 total reputation: 135020" dir="ltr">1,323</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/c%2b%2b">c++</a>, <a href="questions/tagged/boost">boost</a>, <a href="questions/tagged/boost-spirit">boost-spirit</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info ">
								<div class="user-gravatar48">
									<a href="/users/2940792/hon2a"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/8eeba1efc3557e0bc037216404383114?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/2940792/hon2a">hon2a</a><br>
									<span class="user-location"></span><br>
									<span class="reputation-score" title="reputation this week: 1261 total reputation: 1622" dir="ltr">1,261</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/javascript">javascript</a>, <a href="questions/tagged/angularjs">angularjs</a>, <a href="questions/tagged/jquery">jquery</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/157882/balusc"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/89927e2f4bde24991649b353a37678b9?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/157882/balusc">BalusC</a><br>
									<span class="user-location">Amsterdam, Netherlands</span><br>
									<span class="reputation-score" title="reputation this week: 1195 total reputation: 524808" dir="ltr">1,195</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/java">java</a>, <a href="questions/tagged/jsf">jsf</a>, <a href="questions/tagged/jsf-2">jsf-2</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/14860/paxdiablo"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/90577b5275e1d208483b844f91a4be3a?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/14860/paxdiablo">paxdiablo</a><br>
									<span class="user-location"></span><br>
									<span class="reputation-score" title="reputation this week: 1157 total reputation: 366483" dir="ltr">1,157</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/c%2b%2b">c++</a>, <a href="questions/tagged/c">c</a>, <a href="questions/tagged/java">java</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/157247/t-j-crowder"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/ca3e484c121268e4c8302616b2395eb9?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/157247/t-j-crowder">T.J. Crowder</a><br>
									<span class="user-location">United Kingdom</span><br>
									<span class="reputation-score" title="reputation this week: 1149 total reputation: 313334" dir="ltr">1,149</span>
								</div>
								<div class="user-tags">
									<a href="questions/tagged/javascript">javascript</a>, <a href="questions/tagged/jquery">jquery</a>, <a href="questions/tagged/java">java</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="user-browser" class="authoritative-responders hidden">
			<table>
				<tbody>
					<tr>        
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/4192931/js1"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/c26d448bf8935cf10be612180b85ffc7?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4192931/js1">JS1</a><br>
									<span class="user-location"></span><br>
									1347 in 30 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/c">c</a>, <a href="questions/tagged/arrays">arrays</a>, <a href="questions/tagged/c%2b%2b">c++</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/4236136/casey-rule"><div class="gravatar-wrapper-48"><img src="http://i.stack.imgur.com/z4Dnp.jpg?s=48&amp;g=1" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4236136/casey-rule">Casey Rule</a><br>
									<span class="user-location">Bethlehem, PA</span><br>
									1232 in 18 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/jquery">jquery</a>, <a href="questions/tagged/javascript">javascript</a>, <a href="questions/tagged/html">html</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/4195328/ianaya89"><div class="gravatar-wrapper-48"><img src="https://lh6.googleusercontent.com/-N7dqDDFWCRE/AAAAAAAAAAI/AAAAAAAAGpw/pSJWJ4Thnag/photo.jpg?sz=48" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4195328/ianaya89">ianaya89</a><br>
									<span class="user-location">Buenos Aires, Argentina</span><br>
									1128 in 30 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/javascript">javascript</a>, <a href="questions/tagged/jquery">jquery</a>, <a href="questions/tagged/html">html</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="user-info  user-hover">
								<div class="user-gravatar48">
									<a href="/users/4251546/vsevolod-goloviznin"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/adee0787c93711e13244a8547e1316cc?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4251546/vsevolod-goloviznin">Vsevolod Goloviznin</a><br>
									<span class="user-location">Sevastopol, Russia</span><br>
									1038 in 14 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/c%23">c#</a>, <a href="questions/tagged/asp.net-mvc">asp.net-mvc</a>, <a href="questions/tagged/visual-studio">visual-studio</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info ">
								<div class="user-gravatar48">
									<a href="/users/4233758/aleksandar"><div><img src="https://www.gravatar.com/avatar/ee959dac5e28fc23d0c8ddf83cc1a9b0?s=48&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4233758/aleksandar">Aleksandar</a><br>
									<span class="user-location">Slovenia</span><br>
									930 in 19 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/c%2b%2b">c++</a>, <a href="questions/tagged/performance">performance</a>, <a href="questions/tagged/c%2b%2b11">c++11</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info ">
								<div class="user-gravatar48">
									<a href="/users/4231110/justinhoward"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/7525da44a40ab0d4e5e88a6e6d0b55de?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4231110/justinhoward">justinhoward</a><br>
									<span class="user-location">Portland, OR</span><br>
									917 in 20 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/composer-php">composer-php</a>, <a href="questions/tagged/php">php</a>, <a href="questions/tagged/git">git</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="user-info ">
								<div class="user-gravatar48">
									<a href="/users/4275347/michael-laszlo"><div class="gravatar-wrapper-48"><img src="http://i.stack.imgur.com/CdbsN.jpg?s=48&amp;g=1" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4275347/michael-laszlo">Michael Laszlo</a><br>
									<span class="user-location">Kitchener, Ontario</span><br>
									770 in 8 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/javascript">javascript</a>, <a href="questions/tagged/c">c</a>, <a href="questions/tagged/python">python</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info ">
								<div class="user-gravatar48">
									<a href="/users/4209604/michael-zucchetta"><div><img src="https://www.gravatar.com/avatar/75dfb60b0ac0727b37393ad8f594eb2e?s=48&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4209604/michael-zucchetta">Michael Zucchetta</a><br>
									<span class="user-location">Venice, Italy</span><br>
									769 in 25 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/angularjs">angularjs</a>, <a href="questions/tagged/javascript">javascript</a>, <a href="questions/tagged/html">html</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info ">
								<div class="user-gravatar48">
									<a href="/users/4230704/steve-lillis"><div class="gravatar-wrapper-48"><img src="http://i.stack.imgur.com/uLjiE.png?s=48&amp;g=1" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4230704/steve-lillis">Steve Lillis</a><br>
									<span class="user-location">London</span><br>
									755 in 20 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/c%23">c#</a>, <a href="questions/tagged/.net">.net</a>, <a href="questions/tagged/asp.net">asp.net</a>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="user-info ">
								<div class="user-gravatar48">
									<a href="/users/4241535/chrismas007"><div class="gravatar-wrapper-48"><img src="https://www.gravatar.com/avatar/b1fce746f77b5beac922733e4891f4be?s=48&amp;d=identicon&amp;r=PG" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4241535/chrismas007">Chrismas007</a><br>
									<span class="user-location">Chicago</span><br>
									697 in 17 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/vba">vba</a>, <a href="questions/tagged/excel">excel</a>, <a href="questions/tagged/excel-vba">excel-vba</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info ">
								<div class="user-gravatar48">
									<a href="/users/4269149/sarthak-mittal"><div><img src="https://www.gravatar.com/avatar/e983a8c2b4f3439c65fbb58ebc9c1a0c?s=48&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4269149/sarthak-mittal">Sarthak Mittal</a><br>
									<span class="user-location"></span><br>
									671 in 9 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/java">java</a>, <a href="questions/tagged/android">android</a>, <a href="questions/tagged/arrays">arrays</a>
								</div>
							</div>
						</td>
						<td>
							<div class="user-info ">
								<div class="user-gravatar48">
									<a href="/users/4200092/gobusto"><div class="gravatar-wrapper-48"><img src="http://i.stack.imgur.com/wMkFf.png?s=48&amp;g=1" alt="" width="48" height="48"></div></a>
								</div>
								<div class="user-details">
									<a href="/users/4200092/gobusto">GoBusto</a><br>
									<span class="user-location">UK</span><br>
									645 in 29 days
								</div>
								<div class="user-tags">
									<a href="questions/tagged/c">c</a>, <a href="questions/tagged/c%2b%2b">c++</a>, <a href="questions/tagged/python">python</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody></table>
			</div>
		</div>

	</div>
	{% endblock %}

	{% block content_script %}
	<script type="text/javascript">
		$(function(){
			$('.js-tab').click(function(){
				var $this = $(this);
				// if(!$this.hasClass('youarehere')){
					
					var $siblings = $this.addClass('youarehere').siblings('.js-tab');
					$siblings.removeClass('youarehere');

					console.log($siblings.attr('href'));

					$($siblings.attr('href')).fadeOut(function(){
						$(this).addClass('hidden');
						$($this.attr('href')).fadeIn(function(){
							$(this).removeClass('hidden');
						});
					});
				// }

				return false;
			})
		});
	</script>
	{% endblock %}