<!doctype html>
<html lang="en">
<head>
	<title>java - display data from the database into a jtable - Stack Overflow</title>
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/so_all.css') }}">
	<!--<script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	{% block header_script %}{% endblock %}
</head>

<body class="question-page  users-page new-topbar" lang>
	<div class="topbar">
		<div class="topbar-wrapper">
			<div class="network-items">
				<a href="//stackexchange.com" class="topbar-icon icon-site-switcher yes-hover js-site-switcher-button js-gps-track" data-gps-track="site_switcher.show" title="A list of all 131 Stack Exchange sites">
					<span class="hidden-text">Stack Exchange</span>
				</a>

				<a href="#" class="topbar-icon icon-inbox yes-hover js-inbox-button" title="Recent inbox messages">
					<span class="hidden-text">Inbox</span>
					<span class="unread-count" style="display:none"></span>
				</a>
				<a href="#" class="topbar-icon icon-achievements yes-hover js-achievements-button " data-unread-class="" title="Recent achievements: reputation, badges, and privileges earned">
					<span class="hidden-text">Reputation and Badges</span>
					<span class="unread-count" style="display:none">

					</span>
				</a>
			</div>

			<div class="topbar-links">
				<a href="/users/614285/anand-s" class="profile-me js-gps-track" data-gps-track="profile_summary.click()">
					<div class="gravatar-wrapper-24" title="Anand S"><img src="https://www.gravatar.com/avatar/36d4d0dbf3961b193e70a3933cf2ffa9?s=48&amp;d=identicon&amp;r=PG" alt="" width="24" height="24" class="avatar-me js-avatar-me"></div>
					<div class="links-container topbar-flair">

						<span class="reputation" title="your reputation: 1,050">
							1,050
						</span>
						<span title="1 gold badge"><span class="badge1"></span><span class="badgecount">1</span></span><span title="12 silver badges"><span class="badge2"></span><span class="badgecount">12</span></span><span title="33 bronze badges"><span class="badge3"></span><span class="badgecount">33</span></span>                    </div>
					</a>
					<div class="links-container">
						<span class="topbar-menu-links">
							<a href="/review" title="Review queues - help improve the site"> review </a>
							<a href="#" class="icon-help js-help-button" title="Help Center and other resources">
								help
								<span class="triangle"></span>
							</a>
						</span>
					</div>

					<div class="search-container">
						<form id="search" action="/search" method="get" autocomplete="off">
							<input name="q" type="text" placeholder="search" value="" tabindex="1" autocomplete="off" maxlength="240">
						</form>
					</div>

				</div>
			</div>
		</div>

		<div class="container">
			<div id="header">
				<br class="cbt">
				<div id="hlogo">
					<a href="/">
						Stack Overflow
					</a>
				</div>
				<div id="hmenus">
					<div class="nav mainnavs ">
						<ul>
							<!-- <li><a id="nav-users" href="/expert-prediction">Expert Prediction</a></li> -->
							<!-- <li><a id="nav-badges" href="/response-time">Response Time Analysis</a></li> -->
							<li><a id="nav-badges" href="/questions/ask">Ask Question</a></li>
							<li class="youarehere"><a id="nav-unanswered" href="/trends">Analyze Trends</a></li>
						</ul>
					</div>
					<!-- <div class="nav askquestion">
						<ul>
							<li>
								<a id="nav-askquestion" href="/questions/ask">Ask Question</a>
							</li>
						</ul>
					</div> -->
				</div>
			</div>

			<div id="content" class="snippet-hidden">
				<div id="mainbar-full">
					{% block content %}{% endblock %}
				</div>
			</div>

		</div>

		{% block content_script %}{% endblock %}
	</body>
	</html>